@import './components/variables';
@import './components/mobil';

body {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .Notes__input {
    width: 600px;
  }
  .btn__save {
    width: 200px;
    font-size: 26px;
  }
  .textChange {
    width: 600px;
    height: 300px;
  }
  .notes__item {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .Notes__input {
    width: 800px;
  }
  .btn__save {
    width: 200px;
    font-size: 26px;
  }
  .textChange {
    width: 600;
    height: 300px;
  }
  .notes__item {
    width: 800px;
  }
}
