@import './components/variables';
@import './components/mobil';

body {
  background-color: $bgc-body;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .Notes__input {
    width: 400px;
  }
  .btn__save {
    width: 200px;
    font-size: 26px;
  }
  .textChange {
    width: 400px;
    height: 100px;
  }
}
