@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: $bgc-body;
  }
  .Notes__input {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: block;
  }
  .btn__usecase {
    display: block;
    cursor: pointer;

    font-size: 20px;
    line-height: 1.34;

    border-radius: 4px;
    border-color: $btn-add-color;

    color: $btn-add-color;
    background-color: $bgc-btn-add;
  }
  .save {
    width: 130px;
    height: 50px;
  }
  .title {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    text-align: center;
  }
  .Notes__label {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  .js-menu {
    margin: 0;
    padding: 0;
    counter-reset: myCounter;
  }
  .notes__item {
    width: 250px;
    height: 100%;
    margin: 10px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    line-height: 1.23;

    background-color: #fff;
    border-radius: 8px;

    list-style: none;
    text-align: center;
  }
  .notes__item:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: white;
    background: #2980b9;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .btn {
    width: auto;
    height: 30px;
    border-radius: 4px;
    border: transparent;
    color: $bgc-btn-add;
  }
  .delete {
    background-color: $btn-delete-color;
  }
  .change {
    background-color: $btn-change-color;
  }
  .btnReplace {
    background-color: $btn-change-color;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
  }
  .textChange {
    width: 280px;
    height: 130px;
    display: block;
  }
  .btn__container {
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .styles {
    height: 35px;
    width: 35px;
  }
  .cursive {
    font-style: italic;
  }
  .heavy {
    font-weight: bold;
  }
  .text__color {
    width: 35px;
    height: 35px;
  }
  .text__color:hover,
  .text__color:focus,
  .text__color:active,
  .btn__usecase:hover,
  .btn__usecase:focus,
  .btn__usecase:active {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
    background-color: $btn-change-color;
  }

  .delete:hover,
  .delete:focus,
  .delete:active,
  .change:hover,
  .change:focus,
  .change:active {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }

  .notes__item__text {
    margin: 10px 0;
  }
  .notes__item__btn {
    text-align: center;
    margin-bottom: 5px;
  }
}
