.Notes__input {
  width: 600px;
  height: 300px;
  display: block;
}
.btn__save {
  background-color: teal;
  width: 200px;
  height: 50px;
  cursor: pointer;

  font-size: 26px;
  line-height: 1.34;

  border-radius: 4px;
  border: transparent;

  color: #fff;
}
